.main-container {
    height: 100%;

    main {
        padding-left: 130px;
        height: 100%;
        overflow: auto;

        @media (max-width: 550px) {
            padding-left: 30px;
            padding-top: 90px;
            overflow: unset;
        }
    }
}